* {
    margin: 0;
    padding: 0;
    background-color: rgb(191, 191, 191);
    scroll-behavior: smooth;
}

/* navbar session */
.home-page {
    width: 100%;
    height: 100vh;
}

.navbar img {
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 20px;
    cursor: pointer;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    background-color: rgb(192, 192, 192);
    opacity: 0.9;
    position: fixed;
    z-index: 2;
}

.nav-links {
  display: flex;
  flex-direction: row; /* Ensures links are in a row */
  gap: 20px; /* Optional: adds space between links */
}

.nav-links a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  font-family: "Merriweather", serif;
  font-weight: bold;
  background-color: transparent;
}

.nav-links a:hover {
  border-bottom: solid black 2px;
  color: white;
  border-radius: 20px;
}

.search-input {
    font-family: "Merriweather", serif;
    outline: none;
    color: black;
    width: 200px;
    height: 40px;
    margin-top: 14px;
    padding: 10px 10px 10px 10px;
    border: 2px solid;
    border-radius: 20px;
    font-size: 16px;
    background-color: transparent;
    background-image: url("search-icon.png");
    background-repeat: no-repeat;
    background-position: 10px 50%;
    background-size: 20px 20px;
}

.search-input:hover {
    background-color: rgb(228, 228, 228);
}

.button #btn-1 {
    font-family: "Merriweather", serif;
    font-weight: 600;
    background-color: black;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 14px 5px;
    cursor: pointer;
    border-radius: 12px;
}

.button #btn-2 {
    font-family: "Merriweather", serif;
    font-weight: 600;
    background-color: white;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 14px 5px;
    cursor: pointer;
    border-radius: 12px;
}

.button #btn-1:hover {
    background-color: white;
    color: black;
}

.button #btn-2:hover {
    background-color: black;
    color: white;
}

.img-container img {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

/* home-page session */
.home-container {
    position: relative;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
}

.home-content {
    position: absolute;
    top: 195px;
    width: 46%;
    z-index: 1;
    background-color: transparent;
}

.home-container h2 {
    font-size: 2.5rem;
    font-family: Georgia, serif;
    font-weight: bold;
    background-color: transparent;
}

.home-container p {
    font-size: 1.2rem;
    font-family: serif;
    font-weight: 600;
    margin: 10px;
    background-color: transparent;
}

.home-container button {
    font-family: serif;
    font-weight: bold;
    background-color: black;
    border: none;
    color: white;
    padding: 15px 38px;
    font-size: 1rem;
    margin: 14px 5px;
    cursor: pointer;
    border-radius: 25px;
}

.home-container button:hover {
    background-color: lightslategrey;
    color: black;
}

/* parent-container */
#parent-container span a {
    display: flex;
    justify-content: center;
    color: black;
    font-size: 2.4rem;
    font-family: serif;
    text-decoration: none;
    font-weight: bold;
    margin: 10px;
}

#parent-container span a:hover {
    color: white;
}

.Products {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}

#img-box{
    display: flex;
    background-color: #e9e9e9;
    box-shadow: 0px 0px 5px black;
}

#img-box img {
    width: 75%;
    height: 57%;
    border-radius: 12px;
    margin: 10px auto;
}

.Products #img-box {
    display: flex;
    flex-direction: column;
    width: 294px;
    height: 410px;
    border-radius: 20px;
    margin: 4px;
    transition: all 0.3s ease;
}

#img-box:hover {
    background-color: rgb(241, 239, 239);
    box-shadow: 0px 0px 10px black;
}

#img-box .span {
    font-size: 1.5rem;
    font-family: serif;
    font-weight: bold;
    text-align: center;
    margin: 5px 0px;
    background: transparent;
}

#img-box .h3 {
    width: 90%;
    margin: 0 auto;
    font-size: 0.8rem;
    font-family: sans-serif;
    /* font-weight: bold; */
    text-align: center;
    margin-bottom: 3px;
    background: transparent;
}

#img-box button {
    font-family: serif;
    font-weight: bold;
    background-color: black;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px 5px;
    cursor: pointer;
    border-radius: 12px;
}

#img-box #btn {
    position: relative;
    bottom: -23px;
    display: flex;
    justify-content: center;
    background-color: transparent;
}

#img-box button:hover {
    background-color: white;
    color: black;
}

/* gallery section */
#gallery span a {
    display: flex;
    justify-content: center;
    color: black;
    font-size: 2.4rem;
    font-family: serif;
    text-decoration: none;
    font-weight: bold;
    margin: 10px;
}

#gallery span a:hover {
    color: white;
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}

.gallery-container img {
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0px 0px 5px black;
    width: 200px;
    height: 250px;
    margin: 20px;
    border-radius: 2px;
}

.gallery-container img:hover {
    background-color: rgb(241, 239, 239);
    box-shadow: 0px 0px 10px black;
}

/* contact-us */
#contact-us {
    display: flex;
    padding: 105px 0px 0px 0px;
    width: 100%;
}

.contact-details {
    width: 85%;
}

#contact-form {
    width: 50%;
}

#contact-us span a {
    display: flex;
    justify-content: center;
    color: black;
    font-size: 2.4rem;
    font-family: serif;
    text-decoration: none;
    font-weight: bold;
    margin: 15px;
}

#contact-us span a:hover {
    color: white;
}

.contact-container p {
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    font-family: serif;
    font-weight: 600;
    margin: 10px;
    width: 75%;
    padding: 2% 10%;
}

#contact-icons{
    display: flex;
    width: 40%;
    justify-content: space-around;
    padding: 2px 90px;
}

.facebook-icon {
    font-size: 40px;
    color: black;
    padding: 10px;
    cursor: pointer;
}

.instagram-icon {
    font-size: 40px;
    color: black; 
    padding: 10px;
    cursor: pointer;
}

.phone-icon {
    font-size: 40px;
    color: black;
    padding: 10px;
    cursor: pointer;
}

.envelope-icon {
    font-size: 40px;
    color: black;
    padding: 10px;
    cursor: pointer;
}

#contact-form form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

#contact-form input {
    display: flex;
    flex-direction: column;
    outline: none;
    color: black;
    width: 200px;
    height: 40px;
    margin-top: 14px;
    padding:7px 70px 7px 10px;
    border: 3px solid;
    border-radius: 20px;
    font-size: 16px;
    background-color: transparent;
}

#contact-form input:hover {
    background-color: rgb(222, 222, 222);
}

#contact-form textarea {
    outline: none;
    color: black;
    width: 200px;
    height: 100px;
    margin-top: 14px;
    padding: 10px 70px 10px 10px;
    border: 3px solid;
    border-radius: 20px;
    font-size: 16px;
    background-color: transparent;
}

#contact-form textarea:hover {
    background-color: rgb(222, 222, 222);
}

#contact-form button {
    font-family: serif;
    font-weight: bold;
    background-color: black;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 15px 5px;
    cursor: pointer;
    border-radius: 12px;
}

#contact-form button:hover {
    background-color: lightslategrey;
    color: black;
}

/* About */
div #site-footer {
    padding: 35px 0px;
}

#site-footer{
    padding: 75px 2px 0px 2px;
}

#site-footer h2 , .about-container{
    background-color: rgb(78 78 78);
    color: white;
}

.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
}

.about-container h2 {
    font-size:1.4rem;
    font-family: "Open Sans", sans-serif;

}

#site-footer span a {
    display: flex;
    justify-content: center;
    color: black;
    font-size: 2.4rem;
    font-family: serif;
    text-decoration: none;
    font-weight: bold;
    margin: 10px;
}

#site-footer span a:hover {
    color: white;
}

.about-container p {
    font-size: 1.2rem;
    font-family: serif;
    font-weight: 600;
    margin: 10px;
    background-color: transparent;
}

.instagram-link {
    color: black;
    text-decoration: none;
    transition: color 0.3s ease;
    font-family: cursive;
    display: flex;
    justify-content: center;
    padding: 5px 5px;
}
  
.instagram-link:hover span{
    color: white;
    background-color: black;
    padding: 0px 5px;
    border-radius: 5px;
}

/* Humburger styles*/
.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  font-family: "Merriweather", serif;
  font-weight: bold;
  background-color: transparent;
}

.nav-links a:hover {
  border-bottom: solid black 2px;
  color: white;
  border-radius: 20px;
}

/* Hamburger Menu Styles */
.menu-toggle {
  display: none;
}

.hamburger {
  display: none;
  font-size: 28px;
  cursor: pointer;
  color: black;
}




